commands:
  01_create_chroma_directory:
    command: "mkdir -p /var/app/current/chroma_store"
    ignoreErrors: true
  02_set_permissions:
    command: "chown -R webapp:webapp /var/app/current/chroma_store"
    ignoreErrors: true

option_settings:
  aws:autoscaling:launchconfiguration:
    RootVolumeSize: 20
    RootVolumeType: gp3
